body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Responsive layout styles */
.responsive-container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .responsive-container {
    max-width: 540px;
  }
}

@media (min-width: 960px) {
  .responsive-container {
    max-width: 720px;
  }
}

@media (min-width: 1280px) {
  .responsive-container {
    max-width: 1140px;
  }
}

@media (min-width: 1920px) {
  .responsive-container {
    max-width: 1400px;
  }
}
